<section>
  <h2 class="text-2xl font-bold mb-4">¡Acortador de URL simple y rápido!</h2>
  <p>
    ShortenerURL permite acortar enlaces largos de <strong
      >Instagram , Facebook , YouTube , Twitter , Linked In , WhatsApp , TikTok
      , blogs y sitios.</strong
    >
    Simplemente pegue la URL larga y haga clic en el botón Acortar URL. En la página
    siguiente, copie la URL abreviada y compártala en sitios, chats y correos electrónicos.
  </p>
</section>
