---
const currentYear = new Date().getFullYear()
---

<footer class="bg-black p-4">
  <div class="flex justify-center">
    <span
      >©️ ShortenerURL - {currentYear} Todos los derechos reservados. Desarrollado
      por Andyotarola</span
    >
  </div>
</footer>
