---
const currentYear = new Date().getFullYear()
---

<footer class="bg-gradient-to-r from-black to-slate-950 p-8">
  <div class="flex justify-center">
    <span
      >©️ ShortenerURL - {currentYear} Todos los derechos reservados. Desarrollado
      por Andyotarola</span
    >
  </div>
</footer>
