---
import Logo from './icons/Logo.astro'
---

<header class="max-w-screen-md mx-auto px-4 py-6">
  <div class="flex justify-center items-center">
    <h1 class="text-4xl tracking-wide font-bold">ShortenerURL</h1>
    <Logo />
  </div>
</header>
