---
import features from '@/data/features.json'
import Feature from './Feature.tsx'
---

<section class="grid sm:grid-cols-2 gap-8">
  {
    features.map((feature) => (
      <Feature
        client:load
        title={feature.title}
        description={feature.description}
        icon={feature.icon}
      />
    ))
  }
</section>
